body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    min-height: 100vh;
    background: linear-gradient(to right,#EB5757, #000000);
    display: flex;
    align-items: center;
    justify-content: space-around;
}